/* For landscape mode (width > height) */
@media (min-aspect-ratio: 1/1) {
    body {
        background-image: url("background-home-desktop.jpg");
    }
}

/* For portrait mode (height > width) */
@media (max-aspect-ratio: 1/1) {
    body {
        background-image: url("background-home-mobile.jpg");
    }
}



body {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s;
}

.landscape {
    background-color: black;
}

.portrait {
    background-color: lightgreen;
}