/* For landscape mode (width > height) */
@media (min-aspect-ratio: 1/1) {
    #home_body {
        background-image: url("background-home-desktop.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    #destination_body {
        background-image: url("background-destination-desktop.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    #crew_body {
        background-image: url("background-crew-desktop.jpg"); 
        background-repeat: no-repeat;
        background-size: 100%;
    }
    #technology_body {
        background-image: url("background-technology-desktop.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }

}

/* For portrait mode (height > width) */
@media (max-aspect-ratio: 1/1) {
    body {
        background-image: url("background-home-mobile.jpg");
    }
}



body {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s;
    display: flex;
}

.landscape {
    background-color: black;
}

.portrait {
    background-color: lightgreen;
}

.navigation {
    position: absolute;
    right: 10%;
    overflow: hidden;

}

.navigation a{
    float: left;
    font-size: 20px;
    margin: 10px;
    padding: 14px 16px;
    color: white;
    font-family: Cervino Regular Neue;
}

.sub_navigation1 {
    position: absolute;
    right: 20%;
    bottom: 65%;
    overflow: hidden;
}

.sub_navigation1 a{
    float: left;
    margin: 10px;
    padding: 14px 16px;
    color: white;
    font-family: Cervino Regular Neue;
    backdrop-filter: blur(5px);
}
@font-face { font-family: Cervino Regular Neue; src: url('Cervino-ThinNeue.woff'); }
@font-face { font-family: Cyan-Capitals; src: url('Cyan-Capitals.otf'); }

.home_paragraph {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-evenly;
    left: 15%;
    top: 45%;
    width: 300px;
    height: 200px;
}

p {
    color: white;
    font-family: Cervino Regular Neue;
    font-size: 19px;
    margin-top: 0;
}

